html{
  height:100%;
  width:100%;
}

body{
  height:100%;
  width:100%;
  font-family: 'Ubuntu', sans-serif;
}

.headerBio{
  background-color: #f2f2f2;
  text-align:center;
  padding-top:5%;
  font-size: 200%;
  box-shadow: 10px 10px 5px grey;
}

#header{
  color:black;
}

.header-row{
  margin-bottom:2%;
  height:100%;
}

.logDiv{
  padding:2%;
}